
<div id="modal2" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <h5 class="center">Publish your Content</h5>
        <hr>
        <br>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">person</i>
        <input  id="first_name" type="text" class="validate" #titleValueInput>
        <label for="first_name">Name</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">chat_bubble</i>
        <input type="text" id="autocomplete-input" class="autocomplete" #catValueInput>
        <label for="autocomplete-input">Category</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">description</i>
        <textarea id="textarea1" class="materialize-textarea" #descValueInput></textarea>
        <label for="textarea1">Content</label>
      </div>

      <div class="col s12 center">
        <a class="waves-effect waves-light btn" (click)='publish(titleValueInput.value,catValueInput.value,descValueInput.value)'><i class="material-icons left">cloud_upload</i>Publish</a>
      </div>
    </div>
  </div>
</div>

<div id='first_frame' style="position:absolute;top:0%;left:0%;height:50%;width:100%;background:#e91e63 url(../../assets/images/bg.png);">
</div>

<div class="row" style="position:absolute;top:30%;left:0%;height:50%;width:100%;">
    <div class="col l4 offset-l4">
      <div class="card-panel z-depth-5">
        <div class="row">
          <div class="col s12 center">
            <h4>Publish & Subscribe</h4>
            <hr>
            <br><br>
          </div>
          <div class="col s12 center">
            <a class="waves-effect waves-light btn modal-trigger teal" href='#modal2'><i class="material-icons left">publish</i>Publish</a>
          </div>
          <div class="col s12 center">
            <br>
            <br>
          </div>
          <div class="col s12 center">
            <a class="waves-effect waves-light btn" href='/Subscribe'><i class="material-icons left">subscriptions</i>Subscribe</a>
          </div>

          <div class="col s12 center">
            <br> <br>
            <hr>
            <h6> Made with Love | Made with Passion </h6>
          </div>

        </div>
      </div>
    </div>
</div>
